<html>
    <head>
        <title>Greeting Page</title>
        <style>
            body {
              background-color: #92a8d1;
              text-align: center;
              margin-top: 15%;
            }
            </style>
    </head>
    <body>
        <form  method="POST" action="/mail">
        <h1>Happy 2022 from <%=yname%></h1>
        <div>Hi <%=yname%>, 
            Your wish to <%=fname%> is successfully created. We wish you a Happy 2022 to you.
            <input type="hidden" name="fname" value='<%=fname%>''>
            <input type="hidden" name="yname" value='<%=yname%>''>
            <input type="hidden" name="email" value='<%=email%>''>
        </div>
        <a href="/preview">Click Here to Preview Your Wish</a>
        <h2><button type="submit">Click here to send Email to <%=email%></button></a></h2>
    </form>
    </body>
</html>